<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bookify - Cadastrar Livros</title>
<link th:href="style.css" rel="stylesheet" />
</head>
<body>

	<a href="/"><img th:src="bookify-logo.svg" id="indeximg"></a>
	<hr>
 
	<div class="info">
		<h2>Cadastro</h2>
		<p>Para cadastrar um novo usuário, insira as informações solicitadas para se registrar no sistema.</p>
		
		<form action="/bookregister" method="post" th:object="${book}">

			<input name="nome" placeholder="Titulo" th:field="*{titulo}">
			<h4 th:errors="*{titulo}"></h4>
			
			<input name="regiao" placeholder="Autor" th:field="*{autor}">
			<h4 th:errors="*{autor}"></h4>

			<input name="valor" placeholder="Genero" th:field="*{genero}">
			<h4 th:errors="*{genero}"></h4>
			
			<input name="valor" placeholder="Valor" th:field="*{valor}">
			<h4 th:errors="*{valor}"></h4>
			
			<button>Cadastrar</button>

		</form>
	</div>

</body>
<footer>
	<p>Caramel Turn Trash</p>
</footer>
</html>