<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>EpicTask - Listagem</title>
<link th:href="style.css" rel="stylesheet" />
</head>
<body>

	<a href="/"><img th:src="bookify-logo.svg" id="indeximg"></a>
	<hr>
	<div class="info">

		<h2>Livros</h2>
		<p>Aqui você pode ver o livros cadastrados e seus respectivos IDs.</p>

			<ul th:each="book : ${book}" id="doar">
				<li>
					<p th:text="${book.id}" id="doar2"></p>
					<p th:text="${book.titulo}"></p>
					<hr>
				</li>
			</ul>

		</div>



</body>
</html>