<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bookify</title>
<link th:href="style.css" rel="stylesheet" />
</head>
<body>

	<a href="/"><img th:src="bookify-logo.svg" id="indeximg"></a>
	<hr>
	<div class="start">
		<ul id="menu">
			<li><img th:src="doar.svg" id="menuimg"><a href="/donation">Doar livros</a></li>
			<li><img th:src="retirar.svg" id="menuimg"><a href="/bookregister">Cadastrar Livros</a></li>
			<li><img th:src="biblioteca.svg" id="menuimg"><a href="/library">Biblioteca</a></li>
			<li><img th:src="user.svg" id="menuimg"><a href="/register">Cadastro</a></li>
		</ul>
	</div>
	
	<img th:src="banner.jpg" id="bannerimg">

	<div class="listagem">
		<h3>Doadores em destaque</h3>
		<ul th:each="user : ${user}" >
			<li >
				<img th:src="avatar.svg" id="menuimg">
				<p th:text="${user.nome}" id="comms"></p>
			</li>
		</ul>
	
	</div>
	
	
	<div class="listagem" id="listagemult">
		<h3>Livros em destaque</h3>

		<ul th:each="book : ${book}" >
			<li >
				<img th:src="book.png" id="menuimg">
				<p th:text="${book.titulo}" id="comms"></p>
			</li>
		</ul>
	
	</div>
</body>
<footer>
<p>Caramel Turn Trash</p>
</footer>

</html>